/* line 2, ../sass/_reset.scss */
html, body {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/_reset.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 22, ../sass/_reset.scss */
a {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

/* line 28, ../sass/_reset.scss */
h1, h2, h3, h4, h5, p {
  margin: 0;
}

/* line 6, ../sass/index.scss */
html, body {
  scroll-behavior: smooth;
}

/* line 11, ../sass/index.scss */
main {
  background: linear-gradient(to right, #caf2f1, rgba(202, 242, 241, 0.7), rgba(202, 242, 241, 0.3), #f3ddc3 80%), url(../images/bg.png);
  background-size: cover;
}

/* line 20, ../sass/index.scss */
header {
  padding: 35px 40px 0 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}

/* line 26, ../sass/index.scss */
.rise-top {
  width: 123px;
  height: 73px;
  background: url("../images/rise.png");
  z-index: 9;
}

/* line 33, ../sass/index.scss */
.socials {
  width: 48px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 37, ../sass/index.scss */
.socials .social-icon {
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  display: block;
  z-index: 9;
}
/* line 44, ../sass/index.scss */
.socials .ig {
  background: url("../images/ig.png");
}
/* line 47, ../sass/index.scss */
.socials .fb {
  background: url("../images/fb.png");
}

/* line 53, ../sass/index.scss */
.languages #pl {
  color: #ffffff;
}
/* line 56, ../sass/index.scss */
.languages #en {
  color: #ffffff;
}

/* line 61, ../sass/index.scss */
.top-silver-half-ball {
  background: url("../images/silverBalls/top.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 33%;
  width: 11%;
  max-width: 152px;
  height: 76px;
}

/* line 72, ../sass/index.scss */
.top-white-ball, .top-white-ball2 {
  background: url("../images/whiteBalls/30.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 15px;
  left: 30%;
  width: 5%;
  max-width: 30px;
  height: 30px;
}

/* line 83, ../sass/index.scss */
.top-white-pebble {
  background: url("../images/whitePebbles/83x67.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 110px;
  left: 27%;
  width: 7%;
  max-width: 83px;
  height: 67px;
}

/* line 94, ../sass/index.scss */
.top-white-ball2 {
  top: 125px;
}

/* line 98, ../sass/index.scss */
.top-silver-ball {
  background: url("../images/silverBalls/35.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 150px;
  left: 33%;
  width: 5%;
  max-width: 33px;
  height: 33px;
}

/* line 109, ../sass/index.scss */
.btn-menu {
  position: fixed;
  top: 110px;
  right: 0;
  width: 50px;
  height: 42px;
  background: #333d3c;
  cursor: pointer;
  z-index: 999;
  transition: all .7s ease;
}
/* line 120, ../sass/index.scss */
.btn-menu span {
  width: 25px;
  height: 2px;
  background: #ffffff;
  display: block;
  position: absolute;
  left: 13px;
  transition: all .7s ease;
}
/* line 129, ../sass/index.scss */
.btn-menu span:nth-child(1) {
  top: 13px;
}
/* line 132, ../sass/index.scss */
.btn-menu span:nth-child(2) {
  top: 20px;
}
/* line 135, ../sass/index.scss */
.btn-menu span:nth-child(3) {
  top: 27px;
}
/* line 138, ../sass/index.scss */
.btn-menu:hover span {
  background: #f3ddc3;
}
/* line 141, ../sass/index.scss */
.btn-menu:hover span:nth-child(1) {
  transform: translateY(7px) rotateZ(45deg);
}
/* line 144, ../sass/index.scss */
.btn-menu:hover span:nth-child(2) {
  width: 0;
}
/* line 147, ../sass/index.scss */
.btn-menu:hover span:nth-child(3) {
  transform: translateY(-7px) rotateZ(-45deg);
}

/* line 152, ../sass/index.scss */
.top-box-section {
  width: 100%;
  max-width: 1366px;
  padding-top: 90px;
}

/* line 158, ../sass/index.scss */
.special-feeling {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding-bottom: 30px;
}

/* line 165, ../sass/index.scss */
.unpack {
  text-transform: uppercase;
  color: #333d3c;
  text-align: center;
  letter-spacing: 6px;
  padding-bottom: 20px;
}

/* line 173, ../sass/index.scss */
.start-cooperation {
  width: 221px;
  height: 40px;
  border: 2px solid #ffffff;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
}
/* line 180, ../sass/index.scss */
.start-cooperation a {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
}

/* line 186, ../sass/index.scss */
.top-box {
  background: url("../images/boxTop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  max-height: 751px;
  height: 350px;
}
/* line 194, ../sass/index.scss */
.top-box p {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 80px;
  font-size: 12px;
}

/* line 205, ../sass/index.scss */
.about-section {
  width: 100%;
  max-width: 1366px;
  padding: 0 50px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

/* line 213, ../sass/index.scss */
.about, .about-rise, .about-sansara {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 80px;
}

/* line 223, ../sass/index.scss */
.about-rise-logo {
  background: url("../images/rise.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  height: 76px;
  position: relative;
}
/* line 231, ../sass/index.scss */
.about-rise-logo p {
  text-align: center;
  letter-spacing: 10px;
  font-size: 40px;
  text-transform: uppercase;
  color: transparent;
}
/* line 237, ../sass/index.scss */
.about-rise-logo p span {
  font-size: 13px;
  color: #868782;
  vertical-align: super;
  letter-spacing: 0;
  padding-left: 5px;
}

/* line 248, ../sass/index.scss */
.about-rise-content p {
  font-size: 10px;
  color: #868782;
  text-align: justify;
}

/* line 257, ../sass/index.scss */
.about-sansara-logo {
  background: url("../images/cloudSansara.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  max-height: 137px;
  height: 100px;
}

/* line 267, ../sass/index.scss */
.about-sansara-content p {
  font-size: 10px;
  color: #868782;
  text-align: justify;
}

/* line 273, ../sass/index.scss */
.owners {
  text-transform: uppercase;
  padding-top: 38px;
}

/* line 277, ../sass/index.scss */
.owner {
  position: relative;
  padding-bottom: 20px;
}
/* line 280, ../sass/index.scss */
.owner div {
  padding-bottom: 5px;
}

/* line 286, ../sass/index.scss */
.function p {
  text-align: center;
  font-size: 11px;
  color: #868782;
}

/* line 293, ../sass/index.scss */
.name h5 {
  text-align: center;
}

/* line 297, ../sass/index.scss */
.check {
  width: 60px;
  height: 24px;
  background: #868782;
  margin: 0 auto;
}
/* line 304, ../sass/index.scss */
.check p {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
}

/* line 310, ../sass/index.scss */
h1, h2, h3, h4, h5 {
  color: #333d3c;
  text-transform: uppercase;
}

/* line 314, ../sass/index.scss */
h5 {
  font-size: 16px;
}

/* line 317, ../sass/index.scss */
h3 {
  font-size: 27px;
}

/* line 320, ../sass/index.scss */
h4 {
  font-size: 17px;
}

/* line 326, ../sass/index.scss */
.mission-section {
  width: 100%;
  padding: 0 50px 80px 50px;
}

/* line 330, ../sass/index.scss */
.mission-box {
  max-width: 852px;
  background: #fff2dd;
}

/* line 334, ../sass/index.scss */
.mission-about {
  padding: 20px 20px 0 20px;
}
/* line 336, ../sass/index.scss */
.mission-about p {
  border-bottom: 1px solid #333d3c;
  text-align: justify;
  font-size: 10px;
  color: #868782;
  padding-bottom: 10px;
}

/* line 346, ../sass/index.scss */
.mission-headers {
  padding: 20px;
  text-align: center;
}

/* line 351, ../sass/index.scss */
.time-section {
  text-align: center;
  position: relative;
  padding: 0 50px 80px 50px;
}
/* line 355, ../sass/index.scss */
.time-section h2 {
  letter-spacing: 10px;
}
/* line 359, ../sass/index.scss */
.time-section h2 span {
  vertical-align: super;
  font-size: 13px;
  color: #868782;
  padding-left: 5px;
  letter-spacing: 0;
}
/* line 366, ../sass/index.scss */
.time-section p {
  font-size: 11px;
  text-transform: uppercase;
  padding-top: 30px;
  color: #868782;
}

/* line 374, ../sass/index.scss */
.advantages-section {
  width: 100%;
  padding: 0 50px 80px 50px;
}
/* line 378, ../sass/index.scss */
.advantages-section div img {
  max-width: 100%;
  max-height: 200px;
}

/* line 385, ../sass/index.scss */
.description {
  padding-bottom: 30px;
  width: 200px;
}
/* line 388, ../sass/index.scss */
.description span {
  width: 46px;
  height: 1px;
  background: #333d3c;
  display: block;
}
/* line 394, ../sass/index.scss */
.description p {
  font-size: 10px;
  color: #868782;
  padding-top: 20px;
}

/* line 401, ../sass/index.scss */
.safety, .counting, .success {
  float: right;
}

/* line 405, ../sass/index.scss */
.offer-section {
  width: 100%;
  padding: 0 50px 80px 50px;
}

/* line 409, ../sass/index.scss */
.projects {
  width: 100%;
  max-width: 683px;
  max-height: 412px;
  text-align: center;
  padding: 20px;
  background: rgba(255, 242, 221, 0.5);
  text-transform: uppercase;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}
/* line 422, ../sass/index.scss */
.projects h3 span {
  vertical-align: super;
  font-size: 13px;
  color: #868782;
  padding-left: 3px;
}
/* line 428, ../sass/index.scss */
.projects p {
  font-size: 11px;
  color: #868782;
  padding: 10px 0;
}
/* line 433, ../sass/index.scss */
.projects a {
  display: block;
  margin: 0 auto;
  background: #868782;
  color: #ffffff;
  width: 180px;
  height: 40px;
  font-size: 18px;
  padding: 10px 0;
}

/* line 445, ../sass/index.scss */
.offer {
  width: 100%;
  max-width: 537px;
  max-height: 339px;
  text-align: center;
  padding: 20px;
  background: #333d3c;
  text-transform: uppercase;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}
/* line 457, ../sass/index.scss */
.offer h3 {
  color: #ffffff;
}
/* line 460, ../sass/index.scss */
.offer h3 span {
  vertical-align: super;
  font-size: 13px;
  color: #caf2f1;
  padding-left: 3px;
}
/* line 466, ../sass/index.scss */
.offer p {
  font-size: 11px;
  color: #ffffff;
  padding: 10px 0;
}
/* line 471, ../sass/index.scss */
.offer a {
  display: block;
  margin: 0 auto;
  background: #caf2f1;
  color: #333d3c;
  width: 180px;
  height: 40px;
  font-size: 18px;
  padding: 10px 0;
}

/* line 488, ../sass/index.scss */
.contact-section {
  width: 100%;
  padding: 0 50px 160px 50px;
  position: relative;
}

/* line 493, ../sass/index.scss */
.contact-form {
  padding: 30px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  max-width: 325px;
}

/* line 499, ../sass/index.scss */
form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 504, ../sass/index.scss */
form ul li {
  display: block;
  border-bottom: 1px solid #333d3c;
  margin-bottom: 21px;
  padding-bottom: 10px;
}

/* line 511, ../sass/index.scss */
form ul li:last-child {
  border: none;
}

/* line 514, ../sass/index.scss */
form ul li span {
  display: block;
  font-size: 9px;
  margin: 0 0 -10px 0;
}

/* line 519, ../sass/index.scss */
input, textarea {
  background: transparent;
  outline: none;
  padding: 0;
  border: none;
}

/* line 527, ../sass/index.scss */
input {
  height: 41px;
  line-height: normal;
}

/* line 532, ../sass/index.scss */
textarea {
  height: 107px;
}

/* line 535, ../sass/index.scss */
input[type=submit] {
  width: 73px;
  height: 29px;
  background-color: #868782;
  color: white;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 3px;
}

/* line 544, ../sass/index.scss */
.contact-data {
  padding-top: 90px;
  text-align: right;
  position: relative;
  z-index: 1;
}
/* line 549, ../sass/index.scss */
.contact-data h3 {
  padding-bottom: 30px;
  margin-right: -18px;
}
/* line 553, ../sass/index.scss */
.contact-data h3 span {
  vertical-align: super;
  font-size: 13px;
  color: #868782;
  padding-left: 3px;
}

/* line 561, ../sass/index.scss */
.contact-person {
  padding-bottom: 20px;
}
/* line 563, ../sass/index.scss */
.contact-person h5 {
  padding-bottom: 10px;
}
/* line 566, ../sass/index.scss */
.contact-person a {
  display: block;
  color: #868782;
  font-size: 12px;
}

/* line 576, ../sass/index.scss */
.bottom-box {
  background: url("../images/boxBottom.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 1072px;
  height: 570px;
}

/* line 589, ../sass/index.scss */
footer {
  width: 100%;
  min-height: 95px;
  background: #ffffff;
}

/* line 595, ../sass/index.scss */
.foot {
  padding: 20px;
}
/* line 597, ../sass/index.scss */
.foot::after {
  content: "";
  clear: both;
  display: table;
}

/* line 604, ../sass/index.scss */
.foot-logo {
  width: 87px;
  height: 54px;
  display: inline-block;
}

/* line 610, ../sass/index.scss */
.foot-socials {
  display: inline-block;
  padding: 5px;
  float: right;
}

/* line 615, ../sass/index.scss */
.foot-icons {
  padding: 5px 0;
}

/* line 618, ../sass/index.scss */
.foot-menu {
  text-align: center;
  padding: 10px 0;
}
/* line 621, ../sass/index.scss */
.foot-menu ul {
  margin: 0;
  padding: 0;
}
/* line 624, ../sass/index.scss */
.foot-menu ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
/* line 628, ../sass/index.scss */
.foot-menu ul li a {
  text-transform: uppercase;
  font-size: 11px;
  color: #333d3c;
}

/* line 637, ../sass/index.scss */
.foot-author a {
  width: 149px;
  height: 34px;
  background: url("../images/johnWeston.png");
  background-repeat: no-repeat;
  display: block;
  float: right;
}
/* line 645, ../sass/index.scss */
.foot-author::after {
  content: "";
  clear: both;
  display: table;
}
